body {
    font-family: Roboto;
    background-color: #F0857E;
    color: #655EF0;
}
h1 {
    font-family: Roboto;
    font-size:30pt;
}
header {
    text-align: center;
}
#hero ,footer{
    text-align: center;
    color: #FFFFFF;
    background-color:#F0857E ;
    padding: 10px;
    border: 2px solid #ed4032;
    border-radius: 20px;
}
#hero img {
    width: 300px;
    max-width: 100%;
}
#bio {
    text-align: center;
}

/*my passion*/
#mypassion ul li:nth-child(){
    color: black;
}

/*gallery*/
#gallery {
    border: 2px solid #ed4032;
    border-radius: 20px;
}
#gallery img {
    max-width: 100%;
    width: 100px;
}
#gallery figure {
    text-align: center;
}

/*article*/

#lit h2 {
    text-align: center;
}
#lit div {
    padding: 2em;
    padding-top: 0px;
    max-width: 40rem;
    margin-left: auto;
    margin-right: auto;
}

#lit p::first-letter {
    color: red;
    font-size: 3em;
    float: left;
    padding: .25em;
    border: 4px double;
    margin-right: .25em;
    text-shadow: 1px 1px 1px rgba(0,0,0, .5);
    box-shadow:  1px 1px 1px rgba(0,0,0, .5);
}