body {
    font font-family: ;
    background-color: #FFFFFF;
    color: #DEADAC;
}
h1
    font-family: 
    font-size:30pt;

header {
    text-align: center;
}
#hero ,footer{
    text-align: center;
    color: #FFFFFF
    background-color:#DEADAC ;
    padding: 10px;
    border: 2px solid #19dca6
    border-radius: 20px;
}
#hero img {
    width: 300px;
}
#bio {
    text-align: center;
}